button{
    margin: 15px 0 0 10px;
    border-radius: 20px;
    height: 60px;
    width: 60px;
    font-size: 18px;
    background-color: aliceblue;
    margin-left: 40px;
    font-weight: bold;
   
}
body{
    background-color: yellow;
    color: red;
    text-align: center;
    margin-top: 100px;
h1{
    text-align: center;
    font-style: italic;
    font-size: 40px;
}
input{
    padding: 10px;
    margin-right: 20px;
}